@{
    ViewData["Title"] = "Home Page";
}


<h3>Уеб приложение за управление на поръчки в автосервиз</h3>
<div class="jumbotron">
    <p class="lead"></p>
    <p><a href="~/Search/Index" class="btn btn-primary btn-lg">Научи повече &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Нова поръчка</h3>
        <p>
            Искаш да създадеш нова поръчка? Тук можеш да го направиш бързо и лесно.
        </p>
        <p><a class="btn btn-default" href="~/Courses/Index">Научи повече &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>Съществуваща поръчка</h3>
        <p>Искаш да проследиш своята поръчка? Тук можеш да го направиш бързо и лесно.</p>
        <p><a class="btn btn-default" href="~/Lecture/Index">Научи повече &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>
