@model OrderSystem.Database.Models.Brand

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Добави марка</legend>
        <div style="top: 50%; width: 100%">
            @Html.HiddenFor(m => m.BrandId)
            <div style="top:50%; width: 500px;">
                <div class="editor-label">@Html.LabelFor(s => s.Name)</div>
                <div class="editor-field">
                    <input class="form-control"
                           id="Name"
                           name="Name"
                           type="text"
                           placeholder="Наименование" />
                    @Html.ValidationMessageFor(s => s.Name)
                </div>
                <br />

                <br />
                <div>
                    <input class="col-12" type="submit" value=Запази />
                </div>
            </div>
        </div>
    </fieldset>
}
<style>
    fieldset {
        margin: 20px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
        width: 550px;
    }

    legend {
        padding: 2px;
    }
</style>